In [4]:
import seaborn as sns 
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
from pydataset import data

initiated datasets repo at: /Users/fermin_x/.pydataset/

In [6]:
df = data('tips')

In [ ]:
def null_percents:

In [22]:
df.smoker.dtype

No     151
Yes     93
Name: smoker, dtype: int64

In [33]:
def df_summary(df):

    # Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)
    print(df.describe())
    print('==============================================')
    print(df.info())
    print('==============================================')
    print(df.dtypes)
    print('==============================================')
    print('Shape:')
    print(df.shape)
    print('==============================================')

    # for statment that will return the value counts for each object columns 
    for col in df.columns:
        if df[col].dtype == 'O':
            print('Value counts for column: ', col)
            print(df[col].value_counts())
            print('==========================')
        else:
            print(f'{col}: is not an object column')

In [34]:
df_summary(df)

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000
==============================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 1 to 244
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 15.2+ KB
None
==============================================
total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object
==============================================
Shape:
(244, 7)
==============================================
total_bill: is not an object column
tip: is not an object column
Value counts for column:  sex
Male      157
Female     87
Name: sex, dtype: int64
==========================
Value counts for column:  smoker
No     151
Yes     93
Name: smoker, dtype: int64
==========================
Value counts for column:  day
Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64
==========================
Value counts for column:  time
Dinner    176
Lunch      68
Name: time, dtype: int64
==========================
size: is not an object column

In [40]:
# create a dataframe that will display nulls and their percentages
null = df.isna().sum()
null_percent = null/df.shape[0]*100
columns = ['number_of_nulls', 'percentage_of_nulls']
pd.DataFrame((null, null_percent), columns=columns)

   number_of_nulls  percentage_of_nulls
0              NaN                  NaN
1              NaN                  NaN

In [41]:
def missing_data_info(df):
    missing_data = df.isnull().sum().sort_values(ascending=False)
    percent_missing = (missing_data / df.shape[0]) * 100
    missing_data_info = pd.concat([missing_data, percent_missing], axis=1, keys=['num_rows_missing', 'pct_rows_missing'])
    return missing_data_info

In [42]:
missing_data_info(df)

            num_rows_missing  pct_rows_missing
total_bill                 0               0.0
tip                        0               0.0
sex                        0               0.0
smoker                     0               0.0
day                        0               0.0
time                       0               0.0
size                       0               0.0